[Desktop Entry]
Name=UNINSTALL
Exec=sh -c 'python3 "$(dirname "$1")/scripts/launch_uninstall.py"' -- "%k"
Icon=edit-delete
Terminal=true
Type=Application
